.tablero{
    display: flex;
    flex-wrap: wrap;
    border-radius: 15px;
    width: 810px;
    padding: 2px;
    border: 2px solid blue;
    background-color: transparent;
}
.barra{
    border-bottom: 2px solid black;
    background-color: white;
    margin-bottom: 20px;
}
.titulo{
    color: #dc1f2c;
}

#aciertos
{
    color: chartreuse;
}

#errores 
{
    color: #dc1f2c;
} 